<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<!-- Nodes -->
	<node pkg="tricat_251" type="Straight_Contraller_test.py" name="Total" output="screen"/>
	<node pkg="tricat_251" type="serial_node.py" name="ARDUINO" args="/dev/ttyARDUINO" respawn="true"/>

    <!-- Parameters -->
	<rosparam command="load" file="$(find tricat_251)/params/251_params.yaml"/>
</launch>