<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<!-- Nodes -->
	<!-- <node pkg="tricat_241"  type="heading_converters.py" name="headingConverter" respawn="true"/> -->
    <!-- <node pkg="tricat_241" type="gnss_converter.py" name="GnssConverter" respawn="true" output="screen"/> -->
	<!-- <node pkg="tricat_241" type="test.py" name="Total" output="screen"/> -->
	<node pkg="tricat_241" type="servo_thruster_Test.py" name="Total" output="screen"/>
	<node pkg="tricat_241" type="serial_node.py" name="ARDUINO" args="/dev/ttyARDUINO" respawn="true"/>

    <!-- Parameters -->
	<rosparam command="load" file="$(find tricat_241)/params/241_params.yaml"/>
</launch>